body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li, a {
  list-style: none;
  text-decoration: none;
}

.nav {
  height: 4em;
  background-color: black;
  margin: 0;
  width: 100vw;
}

ul {
  margin: 0;
  height: 4em;
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link{
  margin: 0 1em;
  color: rgba(255,255,255,0.8)
}

.navlink:hover {
  color: #666;
}

.selected {
  color: rgb(78, 81, 86);
}
