.contact-wrapper {
  width: 100vw;
  background-size: cover;
  color: rgba(255, 255, 255, 0.6);
}

.header {
  background-image: url('https://images.pexels.com/photos/7480/sky-night-stars.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');
  width: 100vw;
  height: 40vh;
  background-size: cover;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  font-weight: lighter;
}

.row {
  width: 100vw;
  height: 20em;
  justify-content: center;
  text-align: center;
}

img {
  height: 10em;
  width: 10em;
  border-radius: 50px;
}
